/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4 {
  font-family: 'B612', sans-serif;
  color: #9BE8FF;
  margin: 1% 0;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1%;
  line-height: 1.1rem;
}
.main-container {
  padding: 0 6%;
}
.about-h3 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-top: 2%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-wrapped {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: seashell;
}
@media (max-width: 500px) {
  nav {
    height: 40vh;
    flex-direction: column;
  }
}
nav .active {
  border-right: 2px solid #96C58E;
  border-left: 2px solid #96C58E;
  border-bottom: 2px solid #96C58E;
}
@media (max-width: 500px) {
  nav .active {
    border: 0;
    color: #8A8BBC;
  }
}
nav a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "B612", sans-serif;
  padding-top: 3%;
  color: #BAE8B9;
  width: 15%;
  text-align: center;
}
nav .nav-login {
  background-color: #96C58E;
  color: #ffffff;
  border-radius: 12px;
}
nav .nav-login:hover {
  background-color: #BAE8B9;
  color: seashell;
}
.header-banner {
  height: 70vh;
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-position: top 20% left;
  margin: 6% 0;
  border: 4px inset #96C58E;
  border-radius: 6%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .header-banner {
    height: 40vh;
    background-image: none;
    border: none;
  }
}
.header-banner h1,
.header-banner p {
  width: 50%;
  background-color: seashell;
  margin-left: 2%;
  margin-top: 1%;
}
@media (max-width: 500px) {
  .header-banner h1,
  .header-banner p {
    background-color: none;
    padding: 0;
    width: auto;
  }
}
.header-banner p {
  padding: 1%;
}
@media (max-width: 500px) {
  .header-banner p {
    font-size: 0.8rem;
  }
}
.header-banner h1 {
  text-align: center;
  padding: 1% 0;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .header-banner h1 {
    font-size: 1.1rem;
  }
}
.header-banner .header-button {
  width: 50%;
  margin: 2% 2% 6%;
  background-color: #96C58E;
  color: #ffffff;
  border-radius: 12px;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .header-banner .header-button {
    width: auto;
  }
}
.header-banner .header-button:hover {
  background-color: #BAE8B9;
  color: seashell;
}
.marketing-middle {
  border-top: 3px inset #96C58E;
}
.marketing-middle .marketing-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3%;
  background-image: url(/images/calculator.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 500px) {
  .marketing-middle .marketing-copy {
    background-image: none;
    align-items: center;
  }
}
.marketing-middle .marketing-copy p {
  width: 50%;
  padding-left: 3%;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .marketing-middle .marketing-copy p {
    width: auto;
    font-size: 0.8rem;
  }
}
.features-headline {
  border-top: 3px inset #96C58E;
  margin-top: 3%;
  padding-top: 3%;
  text-align: center;
  height: fit-content;
}
.features-headline h2 {
  font-size: 2rem;
}
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 500px) {
  .features {
    flex-direction: column;
  }
}
.features .feature-box {
  width: 40%;
  padding-top: 5%;
  margin-right: 4%;
}
@media (max-width: 500px) {
  .features .feature-box {
    width: auto;
  }
}
.features .feature-box h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3%;
}
.features .feature-box h3 {
  padding: 2% 0;
  align-items: center;
}
.features .feature-box p {
  margin-top: 3%;
  padding-bottom: 5%;
}
.features .feature-box ul {
  padding-bottom: 1%;
}
.features .feature-box ul li {
  padding-bottom: 2%;
  margin-left: 0;
  text-align: center;
}
.about-header {
  height: 70vh;
  background-image: url(/images/team.jpg);
  background-size: cover;
  margin: 6% 0;
  border: 4px inset #96C58E;
  border-radius: 6%;
}
@media (max-width: 500px) {
  .about-header {
    height: 40vh;
    background-image: none;
    align-items: center;
    border: none;
    margin: 4% 0;
  }
}
.about-header h1 {
  background-color: seashell;
  text-align: center;
  padding: 1% 0;
  margin: 2%;
}
@media (max-width: 500px) {
  .about-header h1 {
    width: auto;
    font-size: 1.5rem;
    padding-bottom: 2%;
  }
}
.about-header p {
  background-color: seashell;
  width: 45%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 2%;
}
@media (max-width: 500px) {
  .about-header p {
    width: auto;
    font-size: 1.2rem;
  }
}
.team h2 {
  margin: 3% 0;
}
@media (max-width: 500px) {
  .team h2 {
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 2%;
  }
}
.team .james img,
.team .alex img,
.team .jenn img,
.team .shawn img,
.team .kem img,
.team .lora img {
  width: 200px;
  height: 200px;
  border: 4px inset #96C58E;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .team .james img,
  .team .alex img,
  .team .jenn img,
  .team .shawn img,
  .team .kem img,
  .team .lora img {
    margin: 2% 0;
  }
}
.team i {
  font-size: 1.2rem;
  padding-right: 0.5rem;
  color: #96C58E;
}
@media (max-width: 500px) {
  .team i {
    font-size: 1.8rem;
    padding-bottom: 5%;
  }
}
.team .james {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .team .james {
    align-items: center;
    padding-bottom: 5%;
  }
}
.team .james h3 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-top: 2%;
}
.team .web {
  display: flex;
}
@media (max-width: 500px) {
  .team .web {
    flex-direction: column;
    align-items: center;
  }
}
.team .web .alex {
  width: 40%;
}
@media (max-width: 500px) {
  .team .web .alex {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
}
.team .web .alex h3 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-top: 2%;
}
.team .web .jenn {
  width: 40%;
}
@media (max-width: 500px) {
  .team .web .jenn {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
}
.team .web .jenn h3 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-top: 2%;
}
.team .front-end {
  display: flex;
}
@media (max-width: 500px) {
  .team .front-end {
    flex-direction: column;
    align-items: center;
  }
}
.team .front-end .shawn {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media (max-width: 500px) {
  .team .front-end .shawn {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
}
.team .front-end .shawn h3 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-top: 2%;
}
.team .front-end .kem {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media (max-width: 500px) {
  .team .front-end .kem {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
}
.team .front-end .kem h3 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-top: 2%;
}
.team .lora {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .team .lora {
    align-items: center;
    padding-bottom: 5%;
  }
}
.team .lora h3 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-top: 2%;
}
.privacy-header {
  height: 70vh;
  background-image: url(/images/privacy.jpg);
  background-size: contain;
  background-position: top 40% left;
  margin: 6% 0;
  border: 4px inset #96C58E;
  border-radius: 6%;
  padding: 1% 2%;
}
.privacy-header h2 {
  background-color: seashell;
  text-align: center;
  padding: 1% 0;
}
.privacy-header p {
  background-color: seashell;
  width: 45%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 2%;
}
.policy h3,
.policy h4 {
  padding: 1% 0;
}
.policy p {
  padding-bottom: 1%;
  line-height: 1.2rem;
}
.policy ul {
  list-style: disc inside;
  padding-bottom: 1%;
}
.policy ul li {
  margin-bottom: 0.5%;
}
.resources-header {
  height: 70vh;
  background-image: url(/images/resources.jpg);
  background-size: cover;
  background-position: top 40% left;
  margin: 6% 0;
  border: 4px inset #96C58E;
  border-radius: 6%;
  padding: 1% 2%;
}
@media (max-width: 500px) {
  .resources-header {
    height: 20vh;
    background-image: none;
    border: none;
  }
}
.resources-header h1 {
  background-color: seashell;
  text-align: center;
  padding: 1% 0;
}
@media (max-width: 500px) {
  .resources-header h1 {
    background-color: none;
    padding: 0;
  }
}
.resources-header p {
  background-color: seashell;
  width: 45%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 2%;
}
@media (max-width: 500px) {
  .resources-header p {
    background-color: none;
    padding: 0;
    width: auto;
    padding: 3% 0;
  }
}
.resources-main h3 {
  margin: 3% 0;
}
.resources-main p {
  line-height: 1.4rem;
}
@media (max-width: 500px) {
  .resources-main p {
    padding-bottom: 2%;
  }
}
.resources-main a {
  color: #000000;
}
.resources-main a:hover {
  color: #9BE8FF;
}
.terms-header {
  height: 70vh;
  background-image: url(/images/terms.jpg);
  background-size: cover;
  background-position: top 40% left;
  margin: 6% 0;
  border: 4px inset #96C58E;
  border-radius: 6%;
  padding: 1% 2%;
}
.terms-header h1 {
  background-color: seashell;
  text-align: center;
  padding: 1% 0;
}
.terms-header p {
  background-color: seashell;
  width: 45%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 2%;
}
.terms-header a {
  text-decoration: none;
  color: #96C58E;
}
.terms-header a:hover {
  color: #9BE8FF;
}
.terms-main p {
  line-height: 1.6rem;
  margin-bottom: 4%;
}
.credits-header {
  height: 70vh;
  background-image: url(/images/credits.jpg);
  background-size: cover;
  background-position: top 40% left;
  margin: 6% 0;
  border: 4px inset #96C58E;
  border-radius: 6%;
  padding: 1% 2%;
}
.credits-header h1 {
  background-color: seashell;
  text-align: center;
  padding: 1% 0;
}
.credits-header p {
  background-color: seashell;
  width: 45%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 2%;
}
.credits-header a {
  text-decoration: none;
  color: #96C58E;
}
.credits-header a:hover {
  color: #9BE8FF;
}
.credits-main p {
  line-height: 1.2rem;
  margin-bottom: 4%;
}
footer {
  border-top: 3px inset #96C58E;
  margin-top: 3%;
  display: flex;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    padding: 0 auto;
    align-items: center;
  }
}
footer h4 {
  font-size: 1rem;
  color: #8A8BBC;
}
@media (max-width: 500px) {
  footer h4 {
    width: 100%;
    margin: 0 auto;
  }
}
footer a,
footer p {
  font-size: 0.8rem;
}
footer .footer-left {
  display: flex;
  width: 30%;
  margin: 3%;
}
footer .footer-left .footer-about-links {
  display: flex;
  flex-direction: column;
}
footer .footer-left .footer-about-links h4 {
  margin-bottom: 3%;
}
footer .footer-left .footer-about-links a {
  padding: 3%;
  text-decoration: none;
  color: #96C58E;
}
footer .footer-left .footer-about-links a:hover {
  color: #9BE8FF;
}
footer .footer-middle {
  width: 30%;
  margin: 3%;
}
footer .footer-middle p {
  margin-bottom: 3%;
  text-align: center;
}
footer .footer-middle .social {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-left: 0;
}
footer .footer-middle .social i {
  color: #8A8BBC;
  font-size: 1.2rem;
}
footer .footer-middle .social i:hover {
  color: #9BE8FF;
}
footer .footer-right {
  width: 30%;
  margin: 3%;
}
footer .footer-right p a {
  text-decoration: none;
  color: #8A8BBC;
}
footer .footer-right a:hover {
  color: #9BE8FF;
}
