footer {
    border-top: @regular-border;
    margin-top: 3%;
    display: flex;
    // justify-content: space-around;
    h4 {
        font-size: 1rem;
    }
    a, p {
        font-size: 0.8rem;
    }
.footer-left{
    display: flex;
    width: 40%;
    margin: 3%;
    .footer-about-links{
        display: flex;
        flex-direction: column;
        a {
            padding-top: 3%;
        }
    }
}
.footer-right {
    width: 40%;
    margin: 3%;
}
}
