// Begine Index Styling
.header-banner {
  height: 70vh;
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-position: top 20% left;
  margin: 6% 0;
  border: 4px inset @accent-color;
  border-radius: 6%;
    padding-bottom: 3%;
  .flex-column();
  @media @phone {
    height: 40vh;
    background-image: none;
    border: none;
  } 
  h1,
  p {
    width: 50%;
    background-color: seashell;
    margin-left: 2%;
    margin-top: 1%;
    @media @phone {
      background-color: none;
      padding: 0;
      width: auto;
    }
  }
  p {
    padding: 1%;
    @media @phone {
      font-size: 0.8rem;
    }
  }
  h1 {
    text-align: center;
    padding: 1% 0;
    font-size: 2rem;
    @media @phone {
      font-size: 1.1rem;
    }
  }

  .header-button {
    width: 50%;
    margin: 2% 2% 6%;
    background-color: @accent-color;
    color: #ffffff;
    border-radius: 12px;
    font-size: 1.4rem;
    @media @phone {
      width: auto,
    }
  }
  .header-button:hover {
    background-color: @action-color;
    color: seashell;
  }
}
.marketing-middle {
  border-top: @regular-border;
  .marketing-copy {
    .flex-column();
    align-items: flex-end;
    padding-top: 3%;
    background-image: url(/images/calculator.png);
    background-repeat: no-repeat;
    background-size: contain;
    @media @phone {
      background-image: none;
      align-items: center;
    }
    p {
      width: 50%;
      padding-left: 3%;
      margin-top: 2%;
      @media @phone {
        width: auto;
        font-size: 0.8rem;
      }
    }
  }
}
.features-headline {
  border-top: @regular-border;
  margin-top: 3%;
  padding-top: 3%;
  text-align: center;
  height: fit-content;
  h2 {
    font-size: 2rem;
    @media @phone {
    }
  }
}
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  @media @phone {
    flex-direction: column;
  }
  .feature-box {
    width: 40%;
    padding-top: 5%;
    margin-right: 4%;
    @media @phone {
      width: auto;
    }
    h2{
      font-size: 3rem;
      text-align: center;
      padding-bottom: 3%;
    }
    h3 {
      padding: 2% 0;
      align-items: center;
      
    }
    p {
      margin-top: 3%;
      padding-bottom: 5%;
    }
    ul {
      padding-bottom: 1%;
      li {
        padding-bottom: 2%;
        margin-left: 0;
        text-align: center;
      }
    }
  }
}

//begin about.html styling
.about-header {
  height: 70vh;
  background-image: url(/images/team.jpg);
  background-size: cover;
  margin: 6% 0;
  border: 4px inset @accent-color;
  border-radius: 6%;
  @media @phone {
    height: 40vh;
    background-image: none;
    align-items: center;
    border: none;
    margin: 4% 0;;
  }
  h1 {
    background-color: seashell;
    text-align: center;
    padding: 1% 0;
    margin: 2%;
    @media @phone {
      width: auto;
      font-size: 1.5rem;
    }
  }
  p {
    background-color: seashell;
    width: 45%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 2%;
    @media @phone {
      width: auto;
      font-size: 1.2rem;
    }
  }
}

.team {
  h2 {
    margin: 3% 0;
  }
  .james img,
  .alex img,
  .jenn img,
  .shawn img,
  .kem img,
  .lora img {
    width: 200px;
    height: 200px;
    border: 4px inset @accent-color;
    border-radius: 50%;
  }
  i {
    font-size: 1.2rem;
    padding-right: 0.5rem;
    color: @accent-color;
  }

  .james {
    .flex-column();
    @media @phone {
      align-items: center;
    }
    h3 {
      .about-h3();
    }
  }
  .web {
    display: flex;
    @media @phone {
      flex-direction: column;
      align-items: center;
    }
    .alex {
      width: @half-column;
      @media @phone {
        width: auto;
      }
      h3 {
        .about-h3();
      }
    }
    .jenn {
      width: @half-column;
      @media @phone {
        width: auto;
      }
      h3 {
        .about-h3();
      }
    }
  }
  .front-end {
    display: flex;
    @media @phone {
      flex-direction: column;
      align-items: center;
    }
    .shawn {
      .flex-column();
      width: @half-column;
      @media @phone {
        width: auto;
      }
      h3 {
        .about-h3();
      }
    }
    .kem {
      .flex-column();
      width: @half-column;
      @media @phone {
        width: auto;
      }
      h3 {
        .about-h3();
      }
    }
  }
  .lora {
    .flex-column();
    @media @phone {
      align-items: center;
    }
    h3 {
      .about-h3();
    }
  }
}
// Begine Privacy styling
.privacy-header {
  height: 70vh;
  background-image: url(/images/privacy.jpg);
  background-size: contain;
  background-position: top 40% left;
  margin: 6% 0;
  border: 4px inset @accent-color;
  border-radius: 6%;
  padding: 1% 2%;

  h2 {
    background-color: seashell;
    text-align: center;
    padding: 1% 0;
  }
  p {
    background-color: seashell;
    width: 45%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 2%;
  }
}
.policy {
  h3,
  h4 {
    padding: 1% 0;
  }
  p {
    padding-bottom: 1%;
    line-height: 1.2rem;
  }
  ul {
    list-style: disc inside;
    padding-bottom: 1%;
    li {
      margin-bottom: 0.5%;
    }
  }
}
// Begin resources.html styling
.resources-header {
  height: 70vh;
  background-image: url(/images/resources.jpg);
  background-size: cover;
  background-position: top 40% left;
  margin: 6% 0;
  border: 4px inset @accent-color;
  border-radius: 6%;
  padding: 1% 2%;
  @media @phone {
    height: 20vh;
    background-image: none;
    border: none;
  } 
  h1 {
    background-color: seashell;
    text-align: center;
    padding: 1% 0;
    @media @phone {
      background-color: none;
      padding: 0;
    }
  }
  p {
    background-color: seashell;
    width: 45%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 2%;
    @media @phone {
      background-color: none;
      padding: 0;
      width: auto;
      padding: 3% 0;
    }
  }
}
.resources-main {
  h3 {
    margin: 3% 0;
  }
  p {
    line-height: 1.4rem;
    @media @phone {
      padding-bottom: 2%;
    }
  }
  a {
    color: #000000;
  }
  a:hover {
    color: @heading-color;
  }
}
// Begin sytles for terms.html
.terms-header {
  height: 70vh;
  background-image: url(/images/terms.jpg);
  background-size: cover;
  background-position: top 40% left;
  margin: 6% 0;
  border: 4px inset @accent-color;
  border-radius: 6%;
  padding: 1% 2%;

  h1 {
    background-color: seashell;
    text-align: center;
    padding: 1% 0;
  }
  p {
    background-color: seashell;
    width: 45%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 2%;
  }
  a {
    text-decoration: none;
    color: @accent-color;
  }
  a:hover {
    color: @heading-color;
  }
}
.terms-main {
  p {
    line-height: 1.6rem;
    margin-bottom: 4%;
  }
}