nav {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: seashell;
  .active {
    border-right: 2px solid @accent-color;
    border-left: 2px solid @accent-color;
    border-bottom: 2px solid @accent-color;
  }
  a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "B612", sans-serif;
    padding-top: 3%;
    color: @action-color;
    width: 15%;
    text-align: center;
    
  }

  .nav-login {
    background-color: @action-color;
    color: seashell;
  }
}
